﻿@{
    ViewData["Title"] = "Alunos";
}

<div class="row title-tcc">
    <div class="col-lg-6 hidden-md-down">
        <h4 class="page-title"> @ViewBag.Title</h4>
    </div>
    <div class="col-lg-6 col-xs-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> <span>Início</span></a></li>
                <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-search-dollar"></i> <span>@ViewBag.Title</span></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <!--DEVEXTREME-->
            <!--TABELA-->
            @(Html.DevExtreme().DataGrid<Aluno>()
            // Nome
            .ID("LIST")
            // Fonte de Dados
            .DataSource(ds => ds.Mvc()
                .Controller("Aluno")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("Cpf"))
            //Configurações de Layout e Seleção
            .ShowColumnLines(true)
            .RowAlternationEnabled(true)
            .ShowBorders(true)
            .AllowColumnReordering(true)
            .AllowColumnResizing(true)
            .ColumnAutoWidth(true)
            .Selection(s => s.Mode(SelectionMode.Single))
            .ColumnFixing(cf => cf.Enabled(true))
            .CacheEnabled(true)
            //
            .Editing(e => e.Mode(GridEditMode.Popup)
                .UseIcons(true)
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
                .Texts(t => t
                .AddRow("Incluir")
                .DeleteRow("Deletar Aluno")
                .SaveRowChanges("Salvar")
                .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                .ConfirmDeleteTitle("Exclusão")
                .CancelRowChanges("Cancelar")
                .EditRow("Editar"))
            // Configurações do Popup
            .Popup(p => p
                .ShowTitle(true)
                .Title("Aluno")
                .Width(400)
                .Height("auto")
                .Position(pos => pos
                    .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                    .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                    .Of(new JS("window"))
                ))
            // Criação do Formulário
            .Form(f => f.LabelLocation(FormLabelLocation.Top)
                .ColCount(2)
                .ShowColonAfterLabel(false)
                .Items(items =>
                {
                    items.AddSimpleFor(m => m.Nome).IsRequired(true).ColSpan(2).Editor(ei => ei.TextBox()).Label(l => l.Text("Nome"));
                    items.AddSimpleFor(m => m.Cpf).IsRequired(true).ColSpan(1).Editor(ei => ei.TextBox().ID("edtCpf").Mask("000.000.000-00").OnContentReady("editaCPF")).Label(l => l.Text("CPF"));
                    items.AddSimpleFor(m => m.Ra).IsRequired(true).ColSpan(1).Editor(ei => ei.TextBox().Mask("000000000")).Label(l => l.Text("RA"));
                    items.AddSimpleFor(m => m.DataIngressao).IsRequired(true).ColSpan(1).Editor(ei => ei.DateBox().DisplayFormat("dd/MM/yyyy").UseMaskBehavior(true)).Label(l => l.Text("Dt. Ingressão"));
                    items.AddSimpleFor(m => m.DataConclusao).IsRequired(false).ColSpan(1).Editor(ei => ei.DateBox().DisplayFormat("dd/MM/yyyy").UseMaskBehavior(true)).Label(l => l.Text("Dt. Conclusão"));
                }))
            )
            // Linha de Filtro por Coluna
            .FilterRow(filterRow => filterRow
                .Visible(true)
                .ApplyFilter(GridApplyFilterMode.Auto)
                .ShowAllText("Todos")
            )
            .HeaderFilter(headerFilter => headerFilter.Visible(true))
            // Barra de Pesquisa
            .SearchPanel(searchPanel => searchPanel
            .Visible(true)
            .Placeholder("Pesquisar...")
            )
            // Itens que serão adicionados nas Colunas do Grid
            .Columns(c =>
            {
                c.AddFor(m => m.Cpf).Caption("CPF");
                c.AddFor(m => m.Ra).Caption("RA");
                c.AddFor(m => m.Nome).Caption("Nome");
                c.AddFor(m => m.DataIngressao).Format("dd/MM/yyyy").Caption("Dt. Ingressão");
                c.AddFor(m => m.DataConclusao).Format("dd/MM/yyyy").Caption("Dt. Conclusão");

                c.Add().Type(GridCommandColumnType.Buttons).ShowInColumnChooser(false).Width(120).Buttons(b =>
                {
                    b.Add().Icon("fas fa-file-signature").Hint("Ver Disciplinas Matriculadas").OnClick("mostraMatriculas");
                    b.Add().Name(GridColumnButtonName.Edit);
                    b.Add().Name(GridColumnButtonName.Delete);
                });
            })
            // Sumário
            .Summary(s => s.TotalItems(total => total.AddFor(a => a.Cpf).DisplayFormat("{0} Total de Registros").SummaryType(SummaryType.Count)))
            // Botões do Topo
            .ColumnChooser(c => c
                .Enabled(true)
                .Title("Colunas")
                .Mode(GridColumnChooserMode.Select))
            // Paginação
            .Height(new JS("gridHeight"))
            .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
            .Paging(paging => paging.PageSize(10))
            // Agrupador
            .GroupPanel(gp => gp
                .Visible(true)
                .EmptyPanelText("Arraste a coluna aqui para agrupar")
            )
            .OnRowDblClick("dblClick")
            .OnInitNewRow("function() { edita = false; }")
            .OnEditingStart("function() { edita = true; }")
            )
        </div>
    </div>
</div>

@using (Html.DevExtreme().NamedTemplate("template-matricula"))
{
    @(Html.DevExtreme().DataGrid<Matricula>()
                // Nome
                .ID("LIST_MATRICULA").Height(400)
                // Fonte de Dados
                .DataSource(ds => ds.Mvc().Controller("Aluno").LoadAction("GetMatricula").LoadParams(new { cpf = new JS("getCPF") } ).InsertAction("PostMatricula").DeleteAction("DeleteMatricula").Key("Codigo"))
                .ShowColumnLines(true)
                .RowAlternationEnabled(true)
                .ShowBorders(true)
                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Selection(s => s.Mode(SelectionMode.Single))
                .ColumnFixing(cf => cf.Enabled(true))
                .CacheEnabled(true)
                //
                .Editing(e => e.Mode(GridEditMode.Popup)
                    .UseIcons(true)
                    .AllowAdding(true)
                    .AllowUpdating(false)
                    .AllowDeleting(true)
                    .Texts(t => t
                    .AddRow("Incluir")
                    .DeleteRow("Deletar")
                    .SaveRowChanges("Salvar")
                    .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                    .ConfirmDeleteTitle("Exclusão")
                    .CancelRowChanges("Cancelar")
                    .EditRow("Editar"))
                // Configurações do Popup
                .Popup(p => p
                    .ShowTitle(true)
                    .Title("Aluno")
                    .Width(400)
                    .Height("auto")
                    .Position(pos => pos
                        .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                        .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                        .Of(new JS("window"))
                    ))
                // Criação do Formulário
                .Form(f => f.LabelLocation(FormLabelLocation.Top)
                    .ColCount(2)
                    .ShowColonAfterLabel(false)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.CodigoDisciplina).IsRequired(true).ColSpan(2).Editor(ei => ei.SelectBox().DataSource(ds => ds.Mvc().Controller("Disciplina").LoadAction("Get").Key("Codigo")).DisplayExpr("Nome").ValueExpr("Codigo")).Label(l => l.Text("Nome"));
                    }))
                )
                // Linha de Filtro por Coluna
                .FilterRow(filterRow => filterRow
                    .Visible(true)
                    .ApplyFilter(GridApplyFilterMode.Auto)
                    .ShowAllText("Todos")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                // Barra de Pesquisa
                .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Placeholder("Pesquisar...")
                ).OnRowInserting("function(e) { e.data.CPFAluno = cpf; }")
                // Itens que serão adicionados nas Colunas do Grid
                .Columns(c =>
                {
                    c.AddFor(m => m.CodigoDisciplina).Lookup(l => l.DataSource(ds => ds.Mvc().Controller("Disciplina").LoadAction("Get").Key("Codigo")).DisplayExpr("Nome").ValueExpr("Codigo")).Caption("Disciplina");
                })
        )
}

<script>

    let edita = false;
    let cpf = null;

    function dblClick(e) {
        $("#LIST").dxDataGrid("instance").editRow(e.rowIndex);
    }

    function editaCPF(e){
        e.component.option("disabled", edita);
    }

    function mostraMatriculas(e){
        cpf = e.row.data.Cpf;
        exibePopupTemplate("Disciplinas - " + e.row.data.Nome, "template-matricula", "auto", 600, false, true);
    }

    function getCPF(){
        return cpf;
    }

</script>