﻿
@model DashboardViewModel

<style>
    .conteudo{
        height: calc(100vh - 50px);
    }

    .card-dashboard{
        color: #fff;
        width: 30%;
        background-color: #ffa000;
        border-radius: 10px;
        margin: 1rem;
        height: 220px;
    }

    .card-dashboard h3{
        background-color: var(--cor-primaria);
        color: #fff;
        padding: 1rem;
        border-radius: 10px 10px 0 0;
    }
</style>

<div class="sm-col-12">
    <h1 class="m-4" style="color: #000">Gerenciador de TCC</h1>
    <div class="d-flex" style="flex-wrap: wrap; justify-content: flex-start;">
        <div class="card-dashboard">
            <h3>Professores</h3>
            <div class="p-3">
                <h5>Total: @Model.QtdeProfessor</h5>
                <h5>Participa em uma Banca: @Model.QtdeProfessorBanca</h5>
            </div>
        </div>
        <div class="card-dashboard">
            <h3>Alunos</h3>
            <div class="p-3">
                <h5>Total: @Model.QtdeAluno</h5>
                <h5>Ativos: @Model.QtdeAluno</h5>
                <h5>Matriculados: @Model.QtdeAlunoMatriculado</h5>
            </div>
        </div>
        <div class="card-dashboard">
            <h3>Disciplinas</h3>
            <div class="p-3">
                <h5>Total: @Model.QtdeDisciplina</h5>
                <h5>Ativas: @Model.QtdeDisciplinaAtiva</h5>
            </div>
        </div>
        <div class="card-dashboard">
            <h3>TCCs</h3>
            <div class="p-3">
                <h5>Total: @Model.QtdeTcc</h5>
            </div>
        </div>
        <div class="card-dashboard">
            <h3>Bancas</h3>
            <div class="p-3">
                <h5>Total: @Model.QtdeBanca</h5>
            </div>
        </div>
    </div>
</div>
