﻿<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta charset="utf-8" ´ />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>TCC</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/container.css" />

    <link href="~/lib/icones/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/icones/fontawesome/css/v4-shims.min.css" rel="stylesheet" />
    <link href="~/lib/icones/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/lib/icones/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/lib/icones/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/lib/icones/material-design-iconic-font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/lib/icones/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/lib/icones/simple-line/simple-line-icons.css" rel="stylesheet" />
    <link href="~/lib/icones/fontello/css/fontello.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/devextreme/jszip.min.js"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/devextreme/dx.all.js" asp-append-version="true"></script> 
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js" asp-append-version="true"></script> 
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js" asp-append-version="true"></script> 
    <title> Menu</title>

    <!-- Icone para Sidebar-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        #toolbar-principal {
            overflow: visible;
            background-color: var(--cor-primaria);
            color: var(--branco);
            height: 50px;
        }

        .tooltip {
            transform: translateY(-40%);
        }

        #principalLayout {
            height: 20%;
        }

        .grid-principal {
            transition: all 3.0s ease;  
            display: grid;
            grid-template-rows: 50px 1fr;
            grid-template-columns: 80px 1fr;
            grid-template-areas:
                "menu-lateral navbar"
                "menu-lateral conteudo";
             height: 100%;
        }

        .toggle-menu {
             grid-template-columns: 240px 1fr!important;
        }

        .page-title {
            color:black;
        }

        .toolbar-principal {
            grid-area: navbar;
            background-color: var(--cor-primaria);
        }

        .conteudo {
            grid-area: conteudo;
            background-color: var(--fundo-dark);
            height: 179%;
            width: 100%;
            z-index: -1;
        }

        .menu-lateral {
            background-color: var(--cor-primaria);
            height: 100%;
            width: 100%;
            transition: all 2.5s ease-in-out;
        } 

        .sidebar ul li .tooltip{
            left: 85px !important;
            color: var(--cor-primaria);
            background-color: var(--branco);
        }
         .sidebar.active .profile_content .profile{
            background-color: var(--cor-primaria);
        }

        .h2, h2 {
            display: flex;
            color: var(--letra-preto-branco);
            font-size: 2.5em;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
            margin: 4%;
        }

        .profile .profile_details img{
            height: 50%;
            width: 75%;
            object-fit: cover;
            border-radius: 12px; 
            margin-left: 50px;
        }

        .dx-field-item-content > .dx-texteditor {
            height:25px;
        }

    </style>
</head>
<body>
    <div id="app-side-nav-outer-toolbar">
        <div class="layout-header" id="principalLayout" />
        <div class="grid-principal" id="test">
            <div class="toolbar-principal">
            </div>
            <div class="menu-lateral">
                <div class="sidebar" style="background-color: var(--cor-primaria);">
                    <div class="logo_content" style="display:flex" />
                    <div class="logo">
                        <i class="fas fa-pen-alt"></i>Gerenciador TCC
                    </div>
                    <i class='bx bx-menu-alt-left' id="btn"></i>
                </div>
                <ul class="nav_list">
                    <li>
                        <a href="/Aluno">
                            <i class='fas fa-graduation-cap'></i>
                            <span class="links_name">Alunos</span>
                            <span class="tooltip">Alunos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Professor">
                            <i class='fas fa-chalkboard-teacher'></i>
                            <span class="links_name">Professor</span>
                            <span class="tooltip">Professor</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Tcc">
                            <i class='fas fa-pen'></i>
                            <span class="links_name">TCC</span>
                            <span class="tooltip">TCC</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Disciplina">
                            <i class='fas fa-book'></i>
                            <span class="links_name">Disciplina</span>
                            <span class="tooltip">Disciplina</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Banca">
                            <i class='fas fa-book'></i>
                            <span class="links_name">Banca</span>
                            <span class="tooltip">Banca</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="conteudo" >
                @RenderBody()
        </div>
    </div>
</body>
</html>

<script>
    btn.onclick = function() {
        let sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("active");
        document.getElementById("test").classList.toggle("toggle-menu")
    }
</script>