﻿@{
    ViewData["Title"] = "Bancas";
}

<div class="row title-tcc">
    <div class="col-lg-6 hidden-md-down">
        <h4 class="page-title"> @ViewBag.Title</h4>
    </div>
    <div class="col-lg-6 col-xs-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> <span>Início</span></a></li>
                <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-search-dollar"></i> <span>@ViewBag.Title</span></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <!--DEVEXTREME-->
            <!--TABELA-->
            @(Html.DevExtreme().DataGrid<Banca>()
                // Nome
                .ID("LIST")
                // Fonte de Dados
                .DataSource(ds => ds.Mvc()
                .Controller("Banca")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("Codigo"))
                //Configurações de Layout e Seleção
                .ShowColumnLines(true)
                .RowAlternationEnabled(true)
                .ShowBorders(true)
                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Selection(s => s.Mode(SelectionMode.Single))
                .ColumnFixing(cf => cf.Enabled(true))
                .CacheEnabled(true)
                //
                .Editing(e => e.Mode(GridEditMode.Popup)
                .UseIcons(true)
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
                .Texts(t => t
                .AddRow("Incluir")
                .DeleteRow("Deletar")
                .SaveRowChanges("Salvar")
                .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                .ConfirmDeleteTitle("Exclusão")
                .CancelRowChanges("Cancelar")
                .EditRow("Editar"))
                // Configurações do Popup
                .Popup(p => p
                .ShowTitle(true)
                .Title("Banca")
                .Width(400)
                .Height("auto")
                .Position(pos => pos
                .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                .Of(new JS("window"))
                ))
                // Criação do Formulário
                .Form(f => f.LabelLocation(FormLabelLocation.Top)
                .ColCount(2)
                .ShowColonAfterLabel(false)
                .Items(items =>
                {
                    items.AddSimpleFor(m => m.DataHoraBanca).IsRequired(true).ColSpan(1).Editor(ei => ei.DateBox().DisplayFormat("dd/MM/yyyy")).Label(l => l.Text("Data Hora Banca"));
                    items.AddSimpleFor(m => m.CodigoTcc).IsRequired(true).ColSpan(2).Editor(ei => ei.SelectBox().DataSource(ds => ds.Mvc().Controller("Tcc").LoadAction("Get").Key("Codigo")).DisplayExpr("Titulo").ValueExpr("Codigo")).Label(l => l.Text("Tcc"));
                }))
                )
                // Linha de Filtro por Coluna
                .FilterRow(filterRow => filterRow
                .Visible(true)
                .ApplyFilter(GridApplyFilterMode.Auto)
                .ShowAllText("Todos")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                // Barra de Pesquisa
                .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Placeholder("Pesquisar...")
                )
                // Itens que serão adicionados nas Colunas do Grid
                .Columns(c =>
                {
                    c.AddFor(m => m.Codigo).Caption("Código");
                    c.AddFor(m => m.DataHoraBanca).Caption("Data").Format("dd/MM/yyyy");
                    c.AddFor(m => m.CodigoTcc).Caption("Tcc").Lookup(l => l.DataSource(ds => ds.Mvc().Controller("Tcc").LoadAction("Get")).DisplayExpr("Titulo").ValueExpr("Codigo"));
                    c.Add().Type(GridCommandColumnType.Buttons).ShowInColumnChooser(false).Width(120).Buttons(b =>
                    {
                        b.Add().Icon("fas fa-file-signature").Hint("Ver Professores").OnClick("mostraProfessores");
                        b.Add().Name(GridColumnButtonName.Edit);
                        b.Add().Name(GridColumnButtonName.Delete);
                    });
                })
                // Sumário
                .Summary(s => s.TotalItems(total => total.AddFor(a => a.Codigo).DisplayFormat("{0} Total de Registros").SummaryType(SummaryType.Count)))
                // Botões do Topo
                .ColumnChooser(c => c
                .Enabled(true)
                .Title("Colunas")
                .Mode(GridColumnChooserMode.Select))
                // Paginação
                .Height(new JS("gridHeight"))
                .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                .Paging(paging => paging.PageSize(10))
                // Agrupador
                .GroupPanel(gp => gp
                .Visible(true)
                .EmptyPanelText("Arraste a coluna aqui para agrupar")
                )
                .OnRowDblClick("dblClick")
                .OnInitNewRow("function() { edita = false; }")
                .OnEditingStart("function() { edita = true; }")
                )
        </div>
    </div>
</div>

@using (Html.DevExtreme().NamedTemplate("template-professor"))
{
    @(Html.DevExtreme().DataGrid<Professor>()
                    // Nome
                    .ID("LIST_MATRICULA").Height(400)
                    // Fonte de Dados
                        .DataSource(ds => ds.Mvc().Controller("Banca").LoadAction("GetProfessor").LoadParams(new { codigo = new JS("getCodigo") }).InsertAction("AddProfessor").DeleteAction("DeleteProfessor").Key("Cpf"))
                    .ShowColumnLines(true)
                    .RowAlternationEnabled(true)
                    .ShowBorders(true)
                    .AllowColumnReordering(true)
                    .AllowColumnResizing(true)
                    .ColumnAutoWidth(true)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .ColumnFixing(cf => cf.Enabled(true))
                    .CacheEnabled(true)
                    //
                    .Editing(e => e.Mode(GridEditMode.Popup)
                        .UseIcons(true)
                        .AllowAdding(true)
                        .AllowUpdating(true)
                        .AllowDeleting(true)
                        .Texts(t => t
                        .AddRow("Incluir")
                        .DeleteRow("Deletar Professor")
                        .SaveRowChanges("Salvar")
                        .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                        .ConfirmDeleteTitle("Exclusão")
                        .CancelRowChanges("Cancelar")
                        .EditRow("Editar"))
                    // Configurações do Popup
                    .Popup(p => p
                        .ShowTitle(true)
                        .Title("Professor")
                        .Width(400)
                        .Height("auto")
                        .Position(pos => pos
                            .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                            .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                            .Of(new JS("window"))
                        ))
                    // Criação do Formulário
                    .Form(f => f.LabelLocation(FormLabelLocation.Top)
                        .ColCount(2)
                        .ShowColonAfterLabel(false)
                        .Items(items =>
                        {
                                items.AddSimple().DataField("CpfProfessor").Editor(e => e.SelectBox().DataSource(ds => ds.Mvc().Controller("Professor").LoadAction("Get").Key("Cpf")).DisplayExpr("Nome").ValueExpr("Cpf")).IsRequired(true);
                        }))
                    )
                    .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                        .ShowAllText("Todos")
                    )
                    .HeaderFilter(headerFilter => headerFilter.Visible(true))
                    // Barra de Pesquisa
                    .SearchPanel(searchPanel => searchPanel
                    .Visible(true)
                    .Placeholder("Pesquisar...")
                    ).OnRowInserting("function(e) { e.data.CodigoBanca = codigo; }")
                    // Itens que serão adicionados nas Colunas do Grid
                    .Columns(c =>
                    {
                        c.AddFor(m => m.Nome).Caption("Nome");
                        c.Add().DataField("CpfProfessor").Visible(false);
                    })
            )
}

<script>

    let edita = false;
    let codigo;
    let cpf;

    function dblClick(e) {
        $("#LIST").dxDataGrid("instance").editRow(e.rowIndex);
    }
    
    function mostraProfessores(e) {
        codigo = e.row.data.Codigo;
        exibePopupTemplate("Professores - " + e.row.data.Codigo, "template-professor", "auto", 600, false, true);
    }

    function getCodigo() {
        return codigo;
    }

</script>