﻿@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background: var(--cor-primaria);
    padding: 6px 14px;
}
.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo {
    color: var(--branco);
    height: 50px;
    width: 100%;
    align-items: center;
    display: none;
    pointer-events: none;
    opacity: 0;
    animation: sidebar 1s ease;
}

.sidebar.active .logo_content .logo{
    display: flex;
    opacity: 1;
    pointer-events: none;
}


.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo logo_nome{
    font-size: 20px;
    font-weight: 400;  
    margin-top: 30px;
    margin-left:20px;
}

.sidebar #btn {
    color: var(--branco);
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.active#btn{
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;   
}

.sidebar ul li .tooltip{
    position: absolute;       
    top: 0;
    transform: translateY(-40%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: var(--preto);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s; 
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 2000;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: var(--branco);
}

.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: var(--branco);
    font-size: 22px;
    margin-top:50px;
    transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover{
    background: var(--branco);
    color:#1d1b31;
}

.sidebar ul li a{
    color: var(--branco);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: var(--cor-primaria);
    background: var(--branco);
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity:0;
    pointer-events: none;
    transition: all 0.5s ease;  
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content {
    position: absolute;
    color: var(--branco);
    bottom: 0;
    left: 0;
    width: 100%; 
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
    background: #1d1b31;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    height: 50%;
    width: 75%;
    object-fit: cover;
    border-radius: 12px; 
    margin-left: 50px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
}

.sidebar.active .profile #log_out{
    left: 88%;
}

.sidebar.active .profile #log_out.profile #log_out{
    background:none;
}

.fafa_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

fafa_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active ~ .fafa_content {
    width: calc(100% - 240px);
    left: 240px;
}

@keyframes sidebar {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX();
    }
}

