:root {
    --branco: #fff;
    --cinza-claro: #F7F7F7;
    --cinza: #DFDFDF;
    --cinza-escuro: #808080;
    --cinza-dark: #373737;
    --cinza-sidebar: #cccccc;
    --cor-primaria: #4b006b;
    --azul-claro: #2ea3f1;
    --azul-escuro: #001d50;
    --preto: #4F4C4D;
    --amarelo: #DAA520;
    --amarelo-amadeirado: #68501A;
    --vermelho: #FF4433;
    --vermelho-escuro: #6F0000;
    --fundo-dark: #F7F7F7;
    --fundo-layout: #DFDFDF;
    --borda-cor: #fdfdfe;
    --letra-preto-branco: #000000;
    --border-dark: #fdfdfe;
    --background: border-dark;
    --pizza-borda: #f8f9fa;
    --back-view: #eee;
    --fonte-source: 'Source Sans Pro', sans-serif;
    --fonte-montserrat: 'Montserrat', sans-serif;
    --fonte-poppins: 'Poppins', sans-serif;
    --fonte-segoe: 'Segoe UI', sans-serif;
    --fonte-icon: 'Font Awesome 5 Free';
    --sombra-padrao: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
}

body, html {
    margin: 0;
    min-height: 100%;
    height: 100%;    
}

#app-side-nav-outer-toolbar {
    flex-direction: column;
    display: flex;
    height: 6%;
    width: 100%;
}

.layout-header {
    flex: 0 0 auto;
    box-shadow: var(--sombra-padrao);
    position: relative;
    z-index: 1501;
    color: var(--branco);
}

.dx-popup-normal > .dx-popup-bottom > .dx-toolbar-items-container > .dx-toolbar-after > div {
    float: right;
}

.dx-toolbar .dx-toolbar-item.menu-button {
    width: 60px;
    text-align: center;
    padding: 0;
}

    .dx-toolbar .dx-toolbar-item.menu-button > .dx-toolbar-item-content .dx-icon {
        color: var(--branco);
    }

.dx-card {
    box-shadow: var(--sombra-padrao);
    border-radius: 4px;
    background-color: var(--branco);
    margin: 2px 2px 3px;
}

    .dx-card.wide-card {
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        border-right: 0;
        border-left: 0;
    }


.atendimento-close {
    border: 2em;
    height: 0.8em;
    width: 0.8em;
    border-radius: 5px;
    position: relative;
    left: 3.5em;
    padding: 0;
    top: -0.5em;
    background-color: transparent; 
}

.span-atendimento-close {
    position: relative;
    bottom: 0.5em;   
    color: var(--branco) ;
    font-size: small;
}

.atendimento-close:hover{
    background-color: var(--branco);
}

    .atendimento-close:hover .span-atendimento-close {     
        color: var(--azul-claro);
        border-radius: 10px;
    }


.with-footer > div > div > .dx-scrollable-content {
    height: 100%;
}

    .with-footer > div > div > .dx-scrollable-content > .dx-scrollview-content {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

.layout-body {
    background-color: var(--cinza-claro);
    flex: 1;
    height: 100%;
    min-height: 0;
}

    .layout-body .menu-container {
        height: 100%;
        width: 250px;
    }

    .layout-body .content {
        flex-grow: 1;
        height: 100%;
        line-height: 1.5;
    }

        .layout-body .content h2 {
            font-size: 28px;
            font-weight: 300;
            letter-spacing: -.5px;
        }

    .layout-body .content-block {
        margin: 15px;
    }

    .layout-body .content-footer {
        display: block;
        color: rgba(0,0,0,.609);
        border-top: 1px solid rgba(0,0,0,0.1);
        padding-top: 20px;
        padding-bottom: 24px;
    }

    .layout-body .responsive-paddings {
        padding: 20px;
    }

.card-link:hover {
    cursor: pointer;
    background-color: var(--cinza);
}

.dxc-item > text, .dxc-series-group, .dxc-labels text {
    cursor: pointer !important;
}

.dtDash {
    float: left;
    padding-left: 5px;
}

    .dtDash input {
        text-align: center;
    }

.area-chart-fundo {
    width: 100%;
    height: auto;
    margin: 1em 0;
    margin-right: 70px;
}
#area-chart svg {   
    margin: 0 50px;
}

@media (max-width: 975px) {
    #area-chart svg {      
        margin: 0 30px;
    }
}

@media screen and (min-width: 600px) {
    .layout-body .content-block {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1280px) {
    .layout-body .responsive-paddings {
        padding: 40px;
    }
}

.menu-container .dx-widget {
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
    font-family: Roboto,RobotoFallback,Helvetica,Arial,sans-serif;
    line-height: 24px;
}

.menu-container .dx-treeview {
    white-space: nowrap;
}

    .menu-container .dx-treeview .dx-treeview-item {
        padding-left: 0;
        padding-right: 0;
    }

        .menu-container .dx-treeview .dx-treeview-item .dx-icon {
            width: 60px !important;
            margin: 0 !important;
        }

    .menu-container .dx-treeview .dx-treeview-node {
        padding: 0 0 !important;
    }

    .menu-container .dx-treeview .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
    }

    .menu-container .dx-treeview .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
    }

    .menu-container .dx-treeview .dx-treeview-node[aria-level="1"] {
        font-weight: bold;
        border-bottom: 1px solid #bbb;
        color: var(--preto);
    }

    .menu-container .dx-treeview .dx-treeview-node[aria-level="2"] .dx-treeview-item-content {
        font-weight: normal;
        padding: 0 60px;
    }

    .menu-container .dx-treeview .dx-treeview-node-container .dx-treeview-node.dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
        background: transparent;
    }

    .menu-container .dx-treeview .dx-treeview-node-container .dx-treeview-node.dx-state-selected > .dx-treeview-item * {
        color: var(--azul-claro);
    }

    .menu-container .dx-treeview .dx-treeview-node-container .dx-treeview-node:not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
        background-color: var(--cinza);
    }

@media screen and (max-width: 767px) {
    .hidden-sm-down {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .hidden-md-down {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .hidden-md-up {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .hidden-lg-up {
        display: none;
    }
}

.link-home {
    text-decoration: none !important;
}

.link-home:hover {
    color: var(--azul-claro);
}

.totalCountGrid {
    color: var(--preto);
    padding: 6px;
    font-size: large;
}

.page-title {
    margin-left: 0.6em;
}

.title-tcc {
    overflow: hidden;
    padding: 20px 10px 9px;
    height: 55px;
}

    .title-tcc h4 {
        text-transform: uppercase;
        font-size: larger;
        font-weight: 500;
    }

.breadcrumb {
    background-color: transparent;
    float: right;
    padding: 0;
}

.breadcrumb a {
    color: var(--preto);
    text-decoration: none;
    background-color: transparent;
}

.breadcrumb a:hover {
    font-weight: 500;
}

.breadcrumb > .breadcrumb-item i {
    padding: 3px;
}


@media screen and (max-width: 767px) {
    .title-tcc div {
        width: auto;
    }

    .breadcrumb > .breadcrumb-item span {
        display: none;
    }
}

#layout-drawer > .dx-drawer-wrapper > .dx-drawer-panel-content > .dx-overlay-wrapper > .dx-overlay-content > .menu-container
.tooltip-menu > .dx-scrollable > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content >
.dx-treeview-node-container > .dx-treeview-node > .dx-item.dx-treeview-item {
    padding: 0;
}

.menu-item-treeview {
    padding: 13px 0;
}

.menu-hover-style {
    background-color: var(--cinza-claro) !important;
    position: fixed;
    z-index: 100;
    display: none;
    box-shadow: var(--sombra-padrao);
    padding: 13px 20px 13px 0;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.05s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: -50px;
}

#layout-drawer:not(.dx-drawer-opened) > .dx-drawer-wrapper > .dx-drawer-panel-content > .dx-overlay-wrapper > .dx-overlay-content >
.menu-container > .tooltip-menu > .dx-scrollable > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content >
.dx-treeview-node-container > .dx-treeview-node > .dx-item.dx-treeview-item.dx-state-hover .menu-hover-style {
    display: block;
}

.dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-rowsview .dx-virtual-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td, .dx-datagrid-rowsview .dx-selection.dx-row > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > tr > td {
    background-color: var(--cinza);
    color: rgba(0, 0, 0, 0.87);
}

.body-detail {
    padding: 0 1.5em;
}

.dx-toolbar-item img, .header-top, .header-top span {
    color:var(--branco);
    vertical-align: middle;
    font-size: medium;
}

.dx-button-mode-text.dx-button-default.dx-state-disabled .dx-button-text {
    color: var(--vermelho);
}

.popup-configuration > .dx-overlay-wrapper > .dx-overlay-content {
    background-color: var(--cinza-claro);
    border-radius: 0;
}

.popup-configuration > .dx-overlay-wrapper > .dx-overlay-content > .dx-popup-title {
    border: 0;
}

.popup-configuration > .dx-overlay-wrapper > .dx-overlay-content > .dx-popup-title.dx-toolbar .dx-button.dx-closebutton {
    background-color: transparent;
}

.popup-configuration > .dx-overlay-wrapper > .dx-overlay-content > .dx-popup-title.dx-toolbar .dx-button.dx-closebutton:hover {
    background-color: var(--cinza-claro);
}

.dx-scrollbar-horizontal .dx-scrollable-scroll {
    height: 10px;
}

.dx-texteditor.dx-editor-underlined.dx-datagrid-search-panel::after {
    border-bottom: 0;
}

.dx-datagrid-header-panel {
    height: 48px;
    padding: 6px 14px 5px 24px;
}

    .dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-icon {
        font-size: 20px;
    }

.dx-popup-title.dx-toolbar .dx-toolbar-items-container {
    height: 50px;
    background-color: transparent;
    color: var(--preto);
}

.dx-button-has-icon.dx-button-has-text .dx-button-content {
    line-height: 25px;
    vertical-align: middle;
}

.titulo-avaliacao {
    font-size: large;
    padding-bottom: 0.8em;
}

@media screen and (max-width: 767px) {
    .titulo-avaliacao {
        text-align: center;
    }
}

.font-large-responsive {
    font-size: xx-large;
}

@media screen and (max-width: 767px) {
    .font-large-responsive {
        font-size: x-large;
    }
}

#toolbar-principal {
    overflow: visible;
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.input-valor-avaliacao {
    font-size: x-large;
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-responsive-list {
    margin: -15px auto;
    max-height: 50px;
}

.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-cell-modified:not(.dx-field-item-content).dx-command-edit.dx-command-edit-with-icons, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-invalid:not(.dx-field-item-content).dx-command-edit.dx-command-edit-with-icons {
    width: 50px;
    min-width: 50px;
}

.send-button {
    float: right;
    border-radius: 0;
    background-color: var(--cinza-claro);
}

.send-button > .dx-button-content {
    border-radius: 0;
}

.send-button.dx-button.dx-button-has-icon:not(.dx-button-has-text):not(.dx-shape-standard) {
    border-radius: 0;
    border: 0;
}

.send-text.dx-texteditor.dx-editor-outlined {
    border-radius: 0;
    float: left;
}

.send-text.dx-texteditor.dx-editor-filled .dx-texteditor-input, .dx-texteditor.dx-editor-outlined .dx-texteditor-input {
    padding: 5px;
}

.conversa {
    max-width: 90%;
    margin: 3px 0;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: var(--cinza);
    font-size: x-small;
    font-weight: 700;
    box-shadow: var(--sombra-padrao) var(--cinza);
}

.conversa.conversa-minha {
    background-color: var(--cinza-escuro);
    float: right;
    margin-right: 8px;
}
.conversa.conversa-minha.ChatBot {
    background-color: var(--cinza-claro);
}

.conversa > .row > .conversa-mensagem {
    font-size: medium;
    font-weight: 400;
}

.conversa-mensagem {
    white-space: normal;
    word-break: break-word;
    margin-bottom: 5px;
    max-width: calc(100% - 15px);
    min-width: 7em;
}

.esconde {
    display: none;
}

.btn-danger > .dx-overlay-wrapper > .dx-overlay-content > .dx-fa-button-icon {
    background-color: var(--vermelho);
}

.btn-sucess > .dx-overlay-wrapper > .dx-overlay-content > .dx-fa-button-icon {
    background-color: rgba(7, 94, 8, 0.35);
}

.text-small {
    font-size: medium;
    font-weight: 400;
}

.text-large {
    font-size: xx-large;
    font-weight: 500;
}
.hidden{
    display:none;
}
.pulseNotify {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--vermelho);
    cursor: pointer;
    box-shadow: var(--sombra-padrao);
    animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--vermelho);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px var(--vermelho);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 var(--vermelho);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--vermelho);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
.tabsAtendimento {
    display: inline-flex;
    position: relative;
    right: 0.4em;
}
.dx-tag-content {
    padding: 6px 30px 5px 9px;
    font-size: smaller;
}
.dx-tag-remove-button:before {
    font-size: xx-small;
    line-height: 18px;
    padding-left: 1px;
}
.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-select, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-cell-modified:not(.dx-field-item-content).dx-command-select, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-invalid:not(.dx-field-item-content).dx-command-select {
    padding-left: 4px;
}
.dx-toolbar-label .dx-toolbar-item-content > div {
    font-weight:400;
}