﻿@{
    ViewData["Title"] = "Professores";
}

<div class="row title-tcc">
    <div class="col-lg-6 hidden-md-down">
        <h4 class="page-title"> @ViewBag.Title</h4>
    </div>
    <div class="col-lg-6 col-xs-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> <span>Início</span></a></li>
                <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-search-dollar"></i> <span>@ViewBag.Title</span></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <!--DEVEXTREME-->
            <!--TABELA-->
            @(Html.DevExtreme().DataGrid<Professor>()
                // Nome
                .ID("LIST")
                // Fonte de Dados
                .DataSource(ds => ds.Mvc()
                .Controller("Professor")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("Cpf"))
                //Configurações de Layout e Seleção
                .ShowColumnLines(true)
                .RowAlternationEnabled(true)
                .ShowBorders(true)
                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Selection(s => s.Mode(SelectionMode.Single))
                .ColumnFixing(cf => cf.Enabled(true))
                .CacheEnabled(true)
                //
                .Editing(e => e.Mode(GridEditMode.Popup)
                .UseIcons(true)
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
                .Texts(t => t
                .AddRow("Incluir")
                .DeleteRow("Deletar")
                .SaveRowChanges("Salvar")
                .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                .ConfirmDeleteTitle("Exclusão")
                .CancelRowChanges("Cancelar")
                .EditRow("Editar"))
                // Configurações do Popup
                .Popup(p => p
                .ShowTitle(true)
                .Title("Professor")
                .Width(400)
                .Height("auto")
                .Position(pos => pos
                .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                .Of(new JS("window"))
                ))
                // Criação do Formulário
                .Form(f => f.LabelLocation(FormLabelLocation.Top)
                .ColCount(2)
                .ShowColonAfterLabel(false)
                .Items(items =>
                {
                    items.AddSimpleFor(m => m.Cpf).IsRequired(true).ColSpan(1).Editor(ei => ei.TextBox().ID("edtCpf").Mask("000.000.000-00").OnContentReady("editaCPF")).Label(l => l.Text("CPF"));
                    items.AddSimpleFor(m => m.Nome).IsRequired(true).ColSpan(1).Editor(ei => ei.TextBox()).Label(l => l.Text("Nome"));
                    items.AddSimpleFor(m => m.Especializacao).IsRequired(false).ColSpan(1).Editor(ei => ei.TextBox()).Label(l => l.Text("Especialização"));
                    items.AddSimpleFor(m => m.CodigoDisciplina).IsRequired(false).ColSpan(1).Editor(ei => ei.SelectBox().ShowClearButton(true).DataSource(ds => ds.Mvc().Controller("Disciplina").LoadAction("Get").Key("Codigo")).DisplayExpr("Nome").ValueExpr("Codigo")).Label(l => l.Text("Disciplina"));
                }))
                )
                // Linha de Filtro por Coluna
                .FilterRow(filterRow => filterRow
                .Visible(true)
                .ApplyFilter(GridApplyFilterMode.Auto)
                .ShowAllText("Todos")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                // Barra de Pesquisa
                .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Placeholder("Pesquisar...")
                )
                // Itens que serão adicionados nas Colunas do Grid
                .Columns(c =>
                {
                    c.AddFor(m => m.Cpf).Caption("CPF");
                    c.AddFor(m => m.Nome).Caption("Nome");
                    c.AddFor(m => m.Especializacao).Caption("Especialização");
                    c.AddFor(m => m.CodigoDisciplina).Caption("Disciplina").Lookup(l => l.DataSource(ds => ds.Mvc().Controller("Disciplina").LoadAction("Get").Key("Codigo")).DisplayExpr("Nome").ValueExpr("Codigo"));
                })
                // Sumário
                .Summary(s => s.TotalItems(total => total.AddFor(a => a.Cpf).DisplayFormat("{0} Total de Registros").SummaryType(SummaryType.Count)))
                // Botões do Topo
                .ColumnChooser(c => c
                .Enabled(true)
                .Title("Colunas")
                .Mode(GridColumnChooserMode.Select))
                // Paginação
                .Height(new JS("gridHeight"))
                .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                .Paging(paging => paging.PageSize(10))
                // Agrupador
                .GroupPanel(gp => gp
                .Visible(true)
                .EmptyPanelText("Arraste a coluna aqui para agrupar")
                )
                .OnRowDblClick("dblClick")
                .OnInitNewRow("function() { edita = false; }")
                .OnEditingStart("function() { edita = true; }")
                )
        </div>
    </div>
</div>

<script>

    let edita = false;

    function dblClick(e) {
        $("#LIST").dxDataGrid("instance").editRow(e.rowIndex);
    }

    function editaCPF(e) {
        e.component.option("disabled", edita);
    }

</script>