﻿@{
    ViewData["Title"] = "Tcc";
}

<div class="row title-tcc">
    <div class="col-lg-6 hidden-md-down">
        <h4 class="page-title"> @ViewBag.Title</h4>
    </div>
    <div class="col-lg-6 col-xs-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> <span>Início</span></a></li>
                <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-search-dollar"></i> <span>Disciplinas</span></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <!--DEVEXTREME-->
            <!--TABELA-->
            @(Html.DevExtreme().DataGrid<Tcc>()
                // Nome
                .ID("LIST")
                // Fonte de Dados
                .DataSource(ds => ds.Mvc()
                .Controller("Tcc")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("Codigo"))
                //Configurações de Layout e Seleção
                .ShowColumnLines(true)
                .RowAlternationEnabled(true)
                .ShowBorders(true)
                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Selection(s => s.Mode(SelectionMode.Single))
                .ColumnFixing(cf => cf.Enabled(true))
                .CacheEnabled(true)
                //
                .Editing(e => e.Mode(GridEditMode.Popup)
                .UseIcons(true)
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
                .Texts(t => t
                .AddRow("Incluir")
                .DeleteRow("Deletar")
                .SaveRowChanges("Salvar")
                .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                .ConfirmDeleteTitle("Exclusão")
                .CancelRowChanges("Cancelar")
                .EditRow("Editar"))
                // Configurações do Popup
                .Popup(p => p
                .ShowTitle(true)
                .Title("Disciplina")
                .Width(400)
                .Height("auto")
                .Position(pos => pos
                .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                .Of(new JS("window"))
                ))
                // Criação do Formulário
                .Form(f => f.LabelLocation(FormLabelLocation.Top)
                .ColCount(2)
                .ShowColonAfterLabel(false)
                .Items(items =>
                {
                    items.AddSimpleFor(m => m.Titulo).IsRequired(true).ColSpan(2).Editor(ei => ei.TextBox()).Label(l => l.Text("Título"));
                    items.AddSimpleFor(m => m.QuantidadePalavras).IsRequired(false).ColSpan(1).Editor(ei => ei.NumberBox().Min(0)).Label(l => l.Text("Quantidade de Palavras"));
                    items.AddSimpleFor(m => m.NomeArquivo).IsRequired(true).ColSpan(2).Editor(ei => ei.TextBox()).Label(l => l.Text("Nome Arquivo"));
                    items.AddSimpleFor(m => m.Url).IsRequired(true).ColSpan(2).Editor(ei => ei.TextBox()).Label(l => l.Text("URL Arquivo"));
                    @*items.AddSimpleFor(m => m.Arquivo).IsRequired(false).ColSpan(1).Editor(ei => ei.SelectBox().ShowClearButton(true).DataSource(ds => ds.Mvc().Controller("Professor").LoadAction("Get").Key("Cpf")).DisplayExpr("Nome").ValueExpr("Cpf")).Label(l => l.Text("Professor"));*@
                }))
                )
                // Linha de Filtro por Coluna
                .FilterRow(filterRow => filterRow
                .Visible(true)
                .ApplyFilter(GridApplyFilterMode.Auto)
                .ShowAllText("Todos")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                // Barra de Pesquisa
                .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Placeholder("Pesquisar...")
                )
                // Itens que serão adicionados nas Colunas do Grid
                .Columns(c =>
                {
                    c.AddFor(m => m.Titulo).Caption("Codigo");
                    c.AddFor(m => m.QuantidadePalavras).Caption("Nome");
                    c.AddFor(m => m.NomeArquivo).Caption("Nome");
                    c.AddFor(m => m.Url).Caption("Nome");
                    @*c.AddFor(m => m.CPFProfessor).Caption("Professor").Lookup(l => l.DataSource(ds => ds.Mvc().Controller("Professor").LoadAction("Get").Key("Cpf")).DisplayExpr("Nome").ValueExpr("Cpf"));*@

                    c.Add().Type(GridCommandColumnType.Buttons).ShowInColumnChooser(false).Width(120).Buttons(b =>
                    {
                        b.Add().Icon("fas fa-user-alt").Hint("Ver Alunos Responsáveis").OnClick("mostraAlunos");
                        b.Add().Icon("fas fa-hand-paper").Hint("Ver Orientadores").OnClick("mostraOrientador");
                        b.Add().Name(GridColumnButtonName.Edit);
                        b.Add().Name(GridColumnButtonName.Delete);
                    });

                })
                // Sumário
                .Summary(s => s.TotalItems(total => total.AddFor(a => a.Titulo).DisplayFormat("{0} Total de Registros").SummaryType(SummaryType.Count)))
                // Botões do Topo
                .ColumnChooser(c => c
                .Enabled(true)
                .Title("Colunas")
                .Mode(GridColumnChooserMode.Select))
                // Paginação
                .Height(new JS("gridHeight"))
                .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                .Paging(paging => paging.PageSize(10))
                // Agrupador
                .GroupPanel(gp => gp
                .Visible(true)
                .EmptyPanelText("Arraste a coluna aqui para agrupar")
                )
                .OnRowDblClick("dblClick")
                )
        </div>
    </div>
</div>

@using (Html.DevExtreme().NamedTemplate("template-alunos"))
{
    @(Html.DevExtreme().DataGrid<AlunoTcc>()
                // Nome
                .ID("LIST_ALUNOS").Height(400)
                // Fonte de Dados
                .DataSource(ds => ds.Mvc().Controller("Tcc").LoadAction("GetAlunos").LoadParams(new { codigo = new JS("getCodigo") } ).InsertAction("PostAluno").DeleteAction("DeleteAluno").Key("Codigo"))
                .ShowColumnLines(true)
                .RowAlternationEnabled(true)
                .ShowBorders(true)
                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Selection(s => s.Mode(SelectionMode.Single))
                .ColumnFixing(cf => cf.Enabled(true))
                .CacheEnabled(true)
                //
                .Editing(e => e.Mode(GridEditMode.Popup)
                    .UseIcons(true)
                    .AllowAdding(true)
                    .AllowUpdating(false)
                    .AllowDeleting(true)
                    .Texts(t => t
                    .AddRow("Incluir")
                    .DeleteRow("Deletar")
                    .SaveRowChanges("Salvar")
                    .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                    .ConfirmDeleteTitle("Exclusão")
                    .CancelRowChanges("Cancelar")
                    .EditRow("Editar"))
                // Configurações do Popup
                .Popup(p => p
                    .ShowTitle(true)
                    .Title("Aluno")
                    .Width(400)
                    .Height("auto")
                    .Position(pos => pos
                        .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                        .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                        .Of(new JS("window"))
                    ))
                // Criação do Formulário
                .Form(f => f.LabelLocation(FormLabelLocation.Top)
                    .ColCount(2)
                    .ShowColonAfterLabel(false)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.CPFAluno).IsRequired(true).ColSpan(2).Editor(ei => ei.SelectBox().DataSource(ds => ds.Mvc().Controller("Aluno").LoadAction("Get").Key("Cpf")).DisplayExpr("Nome").ValueExpr("Cpf")).Label(l => l.Text("Nome"));
                    }))
                )
                // Linha de Filtro por Coluna
                .FilterRow(filterRow => filterRow
                    .Visible(true)
                    .ApplyFilter(GridApplyFilterMode.Auto)
                    .ShowAllText("Todos")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                // Barra de Pesquisa
                .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Placeholder("Pesquisar...")
                ).OnRowInserting("function(e) { e.data.CodigoTcc = codigoTcc; }")
                // Itens que serão adicionados nas Colunas do Grid
                .Columns(c =>
                {
                    c.AddFor(m => m.CPFAluno).Caption("CPF");
                    c.AddFor(m => m.CodigoTcc).Visible(false);
                    c.AddFor(m => m.CPFAluno).Lookup(l => l.DataSource(ds => ds.Mvc().Controller("Aluno").LoadAction("Get").Key("Cpf")).DisplayExpr("Nome").ValueExpr("Cpf")).Caption("Nome");
                })
        )
}

@using (Html.DevExtreme().NamedTemplate("template-orientador"))
{
    @(Html.DevExtreme().DataGrid<ProfessorTcc>()
                // Nome
                .ID("LIST_MATRICULA").Height(400)
                // Fonte de Dados
                .DataSource(ds => ds.Mvc().Controller("Tcc").LoadAction("GetProfessor").LoadParams(new { codigoTcc = new JS("getCodigo") } ).InsertAction("PostProfessor").DeleteAction("DeleteProfessor").Key("Codigo"))
                .ShowColumnLines(true)
                .RowAlternationEnabled(true)
                .ShowBorders(true)
                .AllowColumnReordering(true)
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .Selection(s => s.Mode(SelectionMode.Single))
                .ColumnFixing(cf => cf.Enabled(true))
                .CacheEnabled(true)
                //
                .Editing(e => e.Mode(GridEditMode.Popup)
                    .UseIcons(true)
                    .AllowAdding(true)
                    .AllowUpdating(false)
                    .AllowDeleting(true)
                    .Texts(t => t
                    .AddRow("Incluir")
                    .DeleteRow("Deletar")
                    .SaveRowChanges("Salvar")
                    .ConfirmDeleteMessage("Deseja mesmo excluir esse registro?")
                    .ConfirmDeleteTitle("Exclusão")
                    .CancelRowChanges("Cancelar")
                    .EditRow("Editar"))
                // Configurações do Popup
                .Popup(p => p
                    .ShowTitle(true)
                    .Title("Aluno")
                    .Width(400)
                    .Height("auto")
                    .Position(pos => pos
                        .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                        .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                        .Of(new JS("window"))
                    ))
                // Criação do Formulário
                .Form(f => f.LabelLocation(FormLabelLocation.Top)
                    .ColCount(2)
                    .ShowColonAfterLabel(false)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.CPFProfessor).IsRequired(true).ColSpan(2).Editor(ei => ei.SelectBox().DataSource(ds => ds.Mvc().Controller("Professor").LoadAction("Get").Key("Cpf")).DisplayExpr("Nome").ValueExpr("Cpf")).Label(l => l.Text("Nome"));
                    }))
                )
                // Linha de Filtro por Coluna
                .FilterRow(filterRow => filterRow
                    .Visible(true)
                    .ApplyFilter(GridApplyFilterMode.Auto)
                    .ShowAllText("Todos")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                // Barra de Pesquisa
                .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Placeholder("Pesquisar...")
                ).OnRowInserting("function(e) { e.data.CodigoTcc = codigoTcc; }")
                // Itens que serão adicionados nas Colunas do Grid
                .Columns(c =>
                {
                    c.AddFor(m => m.CPFProfessor).Caption("CPF");
                    c.AddFor(m => m.CodigoTcc).Visible(false);
                    c.AddFor(m => m.CPFProfessor).Lookup(l => l.DataSource(ds => ds.Mvc().Controller("Professor").LoadAction("Get").Key("Cpf")).DisplayExpr("Nome").ValueExpr("Cpf")).Caption("Nome");
                })
        )
}

<script>

    let edita = false;
    let codigoTcc = null;

    function dblClick(e) {
        $("#LIST").dxDataGrid("instance").editRow(e.rowIndex);
    }

    function mostraAlunos(e){
        codigoTcc = e.row.data.Codigo;
        exibePopupTemplate("TCC " + e.row.data.Codigo + " - Responsáveis", "template-alunos", "auto", 600, false, true);
    }

    function mostraOrientador(e){
        codigoTcc = e.row.data.Codigo;
        exibePopupTemplate("TCC " + e.row.data.Codigo + " - Orientadores", "template-orientador", "auto", 600, false, true);
    }

    function getCodigo(){
        return codigoTcc;
    }

</script>